<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${cliente.nombresCliente}">Cliente</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<h1 th:text="'Editar a cliente : ' + ${cliente.nombresCliente}"></h1>

<div class="ingresar">
  <form class="head" th:action = "@{/cliente/editar(codigoCliente=${cliente.codigoCliente})}" method="post" th:object="${cliente}">
    <label for="nombresCliente">Nombre: </label>
    <input type="text" id="nombresCliente" name="nombresCliente" th:value="${cliente.nombresCliente}" />
    <br>
    <label for="apellidosCliente">Apellidos: </label>
    <input type="text" id="apellidosCliente" name="apellidosCliente" th:value="${cliente.apellidosCliente}" />
    <br>
    <label for="correoCliente">Correo: </label>
    <input type="text" id="correoCliente" name="correoCliente" th:value="${cliente.correoCliente}" />
    <br>
    <label for="celularCliente">Numero: </label>
    <input type="text" id="celularCliente" name="celularCliente" th:value="${cliente.celularCliente}" />
    <br>
    <input class="btnGuardar" type="submit" value="Actualizar">
  </form>
</div>

</body>
</html>