<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<h1>Listado de clientes</h1>

<div class="ingresar">
    <form class="head" th:action="@{/cliente}" method="post" th:object="${cliente}">
        <label for="nombresCliente">Nombre:</label>
        <input type="text" id="nombresCliente" name="nombresCliente" />
        <label for="apellidosCliente">Apellido:</label>
        <input type="text" id="apellidosCliente" name="apellidosCliente" />
        <label for="correoCliente">Correo:</label>
        <input type="text" id="correoCliente" name="correoCliente" />
        <label for="celularCliente">Celular:</label>
        <input type="text" id="celularCliente" name="celularCliente" />
        <br>
        <input class="btnGuardar" type="submit" value="Guardar">
    </form>
</div>

<div class="tabla">
    <table th:if="${!clientes.isEmpty()}">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Numero</th>
        </tr>

        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nombresCliente}"></td>
            <td th:text="${cliente.apellidosCliente}"></td>
            <td th:text="${cliente.correoCliente}"></td>
            <td th:text="${cliente.celularCliente}"></td>
            <td>
                <a th:href="@{/cliente/editar(codigoCliente=${cliente.codigoCliente})}">
                    <button type="button">Editar</button>
                </a>
            </td>
            <td>
                <form th:action="@{/cliente/eliminar(codigoCliente=${cliente.codigoCliente})}" th:method="delete">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
